body {
    font-family: 'georgia', Tahoma, Geneva, Verdana, sans-serif;
   background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
   background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);}

header {
    background-color: #343a40;
    color: white;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container h1 {
    margin: 0;
    font-size: 1.5em;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #cff8f3;
}

form button {
    background-color: #181111e9;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #eeeeef;
}
.requestItem {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #fafafa;
}
.requestItem h4 {
    margin-top: 0;
}
@media (max-width: 600px) {
    .nav-container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        margin-left: 0;
        margin-top: 10px;
    }
}